@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

body {
    min-height: 90vh;
    overflow-x: hidden;
    background-image: url(./Svg-Background.svg);
    background-size: auto 100vw;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: 'Roboto slab', serif;
}

@media (max-width:900px) {
    body {
        background-size: 400% auto;
    }
}

.title-flex {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    margin: 1rem auto;
    font-size: 3rem;
}

.btn {
display: flex;
align-items: center;
padding: .7rem 1.5rem;
border-radius: 4px;
border: none;
font-weight: bold;
transition: all 0.15s;
margin-right: 6rem;
margin-left: auto;
cursor: pointer;
}

.btn:hover {
    background-color: white;
    transform: scale(1.1);
}

.btn:active {
    background-color: rgb(192, 192, 192);
    color: darkred;
    transform: scale(0.95);
    transition: all 0s;
}

.note-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 14rem;
    right: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    background-color: rgba(199, 199, 199, 0.381);
    border-radius: 4px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.135);
}

.note {
    background-color: rgb(239, 239, 239);
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.135);
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(231, 241, 253);
}

.delete-btn, .edit-btn {
    padding: 6px 9px;
    margin: 0 0 0 6px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.cursor {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.note-txt {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    padding: 6px;
}

.note-txt:hover, .note-txt:focus-visible {
    outline: none;
}

.text-warn {
    position: fixed;
    top: 27rem;
    right: 1.1rem;
    color: white;
    font-weight: bold;
}

img.dragger {
    cursor: grab;
    z-index: 0;
    min-height: 16px;
    max-height: 16px;
    padding: 0 3.4rem;
    margin: auto;
}

.dragger:active {
    cursor: grabbing;
}